# local-quality – lokal Playwright (egen resetbar database i admin-core)
APP_ENV=local-quality
APP_DEBUG=true
APP_NAME=Bifrost
APP_BASE_URL=http://jaktfeltcup.local

EVENTS_URL=http://admin.bifrost.local
ADMIN_URL=http://admin.bifrost.local

ADMIN_CORE_PATH=../bifrost-admin-core
ADMIN_CORE_DOTENV=.env.local-quality

ARRANGOR_PORTAL_URL=http://arrangor.jaktfeltcup.local

MAIL_MODE=off
PAYMENT_MODE=off
ALLOW_WRITES=true
ROBOTS_MODE=noindex
QUALITY_RESET_DATABASE=true
QUALITY_SEED_DATABASE=true
