# staging – skybasert automatisk quality (resetbar database i backend)
APP_ENV=staging
APP_DEBUG=false
APP_NAME=Bifrost
APP_BASE_URL=https://staging.jaktfeltcup.no

BACKEND_API_URL=https://staging.api.bifrostevents.no
BACKEND_PATH=../bifrost-backend
BACKEND_DOTENV=.env.staging

MAIL_MODE=off
PAYMENT_MODE=test
ALLOW_WRITES=true
ROBOTS_MODE=noindex
QUALITY_RESET_DATABASE=true
QUALITY_SEED_DATABASE=true
