# staging – skybasert automatisk quality (resetbar database i admin-core)
APP_ENV=staging
APP_DEBUG=false
APP_NAME=Bifrost
APP_BASE_URL=https://staging.jaktfeltcup.no

EVENTS_URL=https://staging.admin.bifrostevents.no
ADMIN_URL=https://staging.admin.bifrostevents.no

ADMIN_CORE_PATH=../bifrost-admin-core
ADMIN_CORE_DOTENV=.env.staging

ARRANGOR_PORTAL_URL=https://staging.arrangor.jaktfeltcup.no

MAIL_MODE=off
PAYMENT_MODE=test
ALLOW_WRITES=true
ROBOTS_MODE=noindex
QUALITY_RESET_DATABASE=true
QUALITY_SEED_DATABASE=true
