# test – skybasert manuell test/demo (test.* subdomener)
APP_ENV=test
APP_DEBUG=false
APP_NAME=Bifrost
APP_BASE_URL=https://test.jaktfeltcup.no

EVENTS_URL=https://test.admin.bifrostevents.no
ADMIN_URL=https://test.admin.bifrostevents.no

ADMIN_CORE_PATH=../bifrost-admin-core
ADMIN_CORE_DOTENV=.env.test

ARRANGOR_PORTAL_URL=https://test.arrangor.jaktfeltcup.no

MAIL_MODE=off
PAYMENT_MODE=off
ALLOW_WRITES=false
ROBOTS_MODE=noindex
QUALITY_RESET_DATABASE=false
QUALITY_SEED_DATABASE=false
